@model IEnumerable<CharityProject.Donation>

@{
    ViewBag.Title = "Donations";
}

<h2>Donations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DonationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DonationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List of Charity Programs", "Index")
</div>
